<div class="sidemenu">
    <div class="namecard">
        <div class="namelogo">
            RB
        </div>
        <div class="name">
            <b>Reckit Benckiser</b>
            <br/>
            <p>Kendra Badmus</p>
        </div>
    </div>

    <div>
        <ul>
          <li class="active">
            <div class="bullet"></div>
            <span>Dashboard</span>
          </li>
          <p class="navh">Group a</p>
          <li>
            <div class="bullet"></div>
            <span>Manufacturers</span>
          </li>
          <li>
            <div class="bullet"></div>
            <span>Sellers</span>
            <span class="badge badge-danger">2</span>
          </li>
          <li>
            <div class="bullet"></div>
            <span>Buyers</span>
  
          </li>
          <p class="navh">Group b</p>
          <li>
            <div class="bullet"></div>
            <span>Areas</span>
            <span class="badge badge-danger">2</span>
          </li>
          <li>
            <div class="bullet"></div>
            <span>Distributors</span>
  
          </li>
          <li>
            <div class="bullet"></div>
            <span>Brands</span>
  
          </li>
          <p class="navh">Group c</p>
  
          <li>
            <div class="bullet"></div>
            <span>Information</span>
  
          </li>
  
          <li>
            <div class="bullet"></div>
            <span>Promotion</span>
  
          </li>
        </ul>
    </div>
    <footer class="footer">
        <b>Sales Manager</b>
    </footer>
</div>