.tableclass{
    background: #fff;
    border-radius: 10px;
    /* height: 100vh; */
    padding: 10px;
    -webkit-box-shadow: 1px 1px 114px -38px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 114px -38px rgba(0,0,0,0.75);
box-shadow: 1px 1px 114px -38px rgba(0,0,0,0.75);
padding: 20px;
}

.tableheader{
    color: #171c34;
    font-weight: bold;
    margin:10px 0 ;

}

.ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 1em;
  }
  